<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign current_category = page.categories[0] %}

  {% assign prev_post = nil %}
  {% for post in site.posts reversed %}
    {% if post.date < page.date and post.categories contains current_category %}
      {% assign prev_post = post %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% assign next_post = nil %}
  {% for post in site.posts %}
    {% if post.date > page.date and post.categories contains current_category %}
      {% assign next_post = post %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% assign previous_label = site.data.locales[include.lang].post.button.previous %}
  {% assign next_label = site.data.locales[include.lang].post.button.next %}

  {% if prev_post %}
    <a
      href="{{ site.baseurl }}{{ prev_post.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ previous_label }}"
    >
      <p>{{ prev_post .title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ previous_label }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if next_post %}
    <a
      href="{{ site.baseurl }}{{ next_post.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ next_label }}"
    >
      <p>{{ next_post.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ next_label }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>
